@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Exo:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}
/*------------ body padding --------------*/
body {
  padding-top: 55px;  
}

/*------------ Carousel photo border ------------*/
.carousel-multi-item-2 .card img {
  border-radius: 2px;
}

/*------------Title text --------------*/
.title {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: brown;
}

/*------------ Container formatting ---------*/
.title-container {
  background-color: goldenrod;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.center_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  }

 .footer-container {
  background-color: rgb(248, 246, 244);
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sub_title {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: brown;
}

/*------------ Paragraph text------------*/
.text_body {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(80, 77, 77);
  text-align: justify;
}

.text_brown {
  color: brown;
}

/*---------- images alignment---------------*/
.img_left {
  float: left;
  margin: 5px 30px 0px 10px;
  width: 25%
  }

.img_right {
  float: right;
  margin: 5px 10px 0px 30px;
  width: 30%
  }  
