@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Exo:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

body { padding-top: 70px; }

.title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: brown;
}

.sub_title {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: brown;
}

.intro {
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: brown;
    text-align: justify;    
}

.center_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

